.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 14px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    opacity: 0.95;
    font-size: 1rem;
    animation: fadeIn 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    color: #fff;
    font-family: var(--font-p);
}

.toast-hide {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.toast-success {
    background: var(--color-success); /* verde */
}
.toast-error {
    background: var(--color-error); /* rojo */
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 0.95; transform: translateY(0);}
}


@media (max-width:767px){
    

    .toast{
        bottom: 120px;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 1299px){
    .toast{
        bottom: 120px;
        left: 50%;
        transform: translate(-50%);
        width: 300px;
        text-align: center;
    }
}


/*fuentes*/

